<!DOCTYPE html>
<html>
    <head>
        <title>FRCSpread</title>
        <link href="main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>FRCSpread</h1>
        <p>Testing 123</p>
    </body>
</html>